<html>
	<head>
		<title>Pay with Stripe</title>
	</head>
	<body>
		<h3>Pay the merchant</h3>
		<form action='/chargeNewCustomer' method='post'>
			<script
				src='https:/checkout.stripe.com/checkout.js'
				class='stripe-button'
				data-key='{{stripePublicSecret}}'
				data-amout='2000'
				data-name='payment for food'
				data-description='that meal was delicious, so it has to be paid'
				data-locale='auto'
				data-currency='cad'>
			</script>
		</form>
		<form action='/chargeExistingCustomer' method='post'>
			<input type='submit' value='charge existing customer'></input>
		</form>
	</body>
</html>
